# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Build & dist
build/
dist/
*.egg-info/
.eggs/

# Output files
out.json
*.pdf
*.csv
*.xlsx
